[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"

[dev-packages]
matplotlib = "*"
jinja2 = "*"
markdown = "*"
pygments = "*"

[requires]
python_version = "3.9"
