/* style.css */

html, body {
    height: 100%;
    max-width: 1200px;
    background-color:#eee;
    color: #000;
    font-family:Arial, sans-serif;
}

.main {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;
    flex-direction: row;
    flex-wrap: 1;

    /* This centers our sketch vertically. */
    /* align-items: center; */
}

.text {
    padding: 0 15px 0 15px;
}

textarea {
    width:100%;
    height:400px;
    font-family:monospace;
    background-color:#fff;
    color: #080;
}

input[type=text] {
    background-color:#fff;
    color: #000;
}
